body {
  background-color: black;
  color: white;
}

html{
    scroll-behavior: smooth;
}

.topic {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.logo {
  font-size: 30px;
  margin-left: 3%;
}
.list{
    margin-right: 3%;
}
.list ul li{
  list-style: none;
  float: right;
  margin-right: 35px;
  font-size: 20px;
}
.navigetion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
  }
  
nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: crimson;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }

  nav ul li a:hover::after {
    width: 100%;
  }

.row1{
    display: flex;
    grid-gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.col-1{
    background:rgb(30, 31, 31);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.table{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 2rem;
    width: 100%;
}
.presentage{
    margin-right: 30%;
}
.presentage p{
    padding: 10px;
    font-size: 15px;
}

.items{
    margin-left: 20%;
}

.items ul li{
    list-style: none;
    padding: 15px;
    font-size: 18px;
}

.chart{
    margin: 2%;
}

.lbl1{
    display: flex;
    margin-left: 30%;
}
#month{
    padding: 10px;
    background-color: rgb(30, 30, 153);
    border: none;
    color: white;
}
#btnSend{
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    background-color: brown;
    border-radius: 10px;
}
.expends{
    text-align: center;
    margin: 45px;
}

.spends{
    text-align: center;
}

.setValue1{
    display: flex;
    margin-left: 20%;
    padding: 3%;
    width: 700px;
    font-size: 15px;
}
#cashinNum{
    margin-left: 50px;
    padding: 10px;
    background-color: darkslateblue;
    color: white;
}


.setValue2{
    display: flex;
    margin-left: 50%;
    padding: 3%;
    width: 700px;
    font-size: 15px;
}
#cashoutNum{
    margin-right: 50px;
    font-size: 18px;
}
#btnCashIn{
    margin-left: 40%;
    width: 20%;
    padding: 10px;
    background-color: cyan;
    border-radius: 20px;
}
#inputAmount{
    margin-left: 50px;
    padding: 10px;
    background-color: darkslateblue;
    color: white;
}
#inputCategory{
    padding: 10px;
    background-color: darkslateblue;
    color: white;
    margin-right: 50px;
}
#btnCashOut{
    margin-left: 40%;
    width: 20%;
    padding: 10px;
    background-color: cyan;
    border-radius: 20px;
}